.badge-grass {
  background-color: #79b9a1;
}

.badge-fire {
  background-color: #eb4d62;
}

.badge-water {
  background-color: #6eb1ec;
}

.badge-flying {
  background-color: #4b789b;
}

.badge-poison {
  background-color: #a672b1;
}

.badge-bug {
  background-color: #5f8d7b;
}

.badge-normal {
  background-color: #a8a6a6;
}

.badge-psychic {
  background-color: #da768b;
}

.badge-fighting {
  background-color: #c05d6d;
}

.badge-electric {
  background-color: #e7bc45;
}

.badge-ground {
  background-color: #c9b767;
}

.badge-fairy {
  background-color: #dd97ae;
}

.badge-rock {
  background-color: #9c9679;
}

.badge-steel {
  background-color: #817f7f;
}

.badge-ice {
  background-color: #97bfdf;
}

.badge-ghost {
  background-color: #6f528f;
}

.badge-dragon {
  background-color: #5568ac;
}
