@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.stats-tab-info-title {
  color: #989898;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  text-transform: capitalize;
}

.stats-tab-info {
  color: black;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  text-transform: capitalize;
}
